body{
    font-family: arial,sans-serif;
    margin: 40px;
}
h1{
    text-align: center;
}
mark{
     background-color: lightgreen;
}
em{
    font-style: italic;
}
.destaque{
    color: blue;
    font-weight: bold;
}
small{
    color:grey
}